{% form_theme form 'SiteBandYandexAPIBundle:Form:fields.html.twig'  %}
<form action="{{ path('site_band_yandex_api_upload') }}" {{ form_enctype(form) }} id="imagefiles" method="POST" class="">
    {{ form_errors(form) }}

    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#form-url" role="tab" data-toggle="tab">{{ 'tab.from-url'|trans() }}</a></li>
        <li><a href="#form-pc" role="tab" data-toggle="tab">{{ 'tab.from-pc'|trans() }}</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="form-url">{{ form_row(form.url) }}</div>
        <div class="tab-pane" id="form-pc">{{ form_row(form.image) }}</div>
    </div>
    {{ form_row(form.save) }}
    <div class="loader"><div class="loadergif"></div></div>
{{ form_end(form) }}
