{% extends "SiteBandServiceBundle::layout.html.twig" %}

{% block body %}
    <h1>Image Grabber.</h1>
    <h3>Программа для скачивания изображений по ссылкам вида:</h3>
    <div class="well">http://anf.scene7.com/is/image/anf/anf_40255_01_prod1?$anfProductImageMagnify$</div>
    <a href="javascript:void(0)" id="newSerach" class="btn btn-default">Новый поиск</a>
    <div id="formContent" style="display: none"> {{ include('SiteBandServiceBundle:ImageGrabber/Form:igform.html.twig') }}</div>


    {% if error is defined %}<div class="alert alert-danger"><strong>Oh snap!</strong> {{ error }}</div>{% endif %}



    <div id="progressbar"><div class="progress-label">Loading...</div></div>
    <div id="log"></div>


{% endblock %}

  {% block javascripts %}  {{ parent() }} <script type="text/javascript">$("#newSerach").click(function(){ $('#formContent').toggle(); });</script>
      <script type="text/javascript">
      $(function() {
      var endPos = {{ endPos }}
      var startPos = {{ startPos }}
      var countTo = {{ countTo }}
      var max = (endPos - startPos + 1) *countTo;

      var curImg = startPos;
      var curPos = 1;


      var progressbar = $( "#progressbar" ),
      progressLabel = $( ".progress-label" );

      progressbar.progressbar({
      value: false,
      max: max,
      change: function() {
      progressLabel.text( progressbar.progressbar( "value" ) );
      },
      complete: function() {
      progressLabel.text( "Complete!" );
      }
      });

      function log($msg)
      {
          $('#log').append("<p>"+$msg+"</p>");
      }

      function progress() {
      var val = progressbar.progressbar( "value" ) || 0;

      for (curImg = startPos;curImg<= endPos;curImg++)
      {
          for(curPos = 1;curPos<=countTo;curPos++)
          {
                if (curPos < 9) curPos = "0"+curPos;
                var url = "http://anf.scene7.com/is/image/anf/anf_"+curImg+"_"+curPos+"_prod1?$anfProductImageMagnify$";
                var fileName = curImg+"_"+curPos;
              log(url);
              $.ajax({
                  type: "POST",
                  url: "{{ path('sbs_ig_ajax_download') }}",
                  dataType: "json",
                  data:  {url: url, fileName: fileName},
                  async: false,

              }).always(function(response){
                          if(response.code == 100 && response.success){//dummy check
                              //alert(response.fileName );
                              var elem = document.getElementById('log');
                              elem.scrollTop = elem.scrollHeight;

                              log("Ok");
                              progressbar.progressbar( "value", (curImg+1 - startPos) + (((countTo - 1) * (curImg - startPos)) + (curPos-1 ))  );
                          }
                          else
                          {
                              log("No file");
                              progressbar.progressbar( "value", (curImg+1 - startPos) + (((countTo - 1) * (curImg - startPos)) + (countTo-1 ))  );
                              curPos = countTo + 1;
                          }

                      });

/*

              $.post('{{ path('sbs_ig_ajax_download') }}',
                      {url: url, fileName: fileName},
                      function(response){
                          if(response.code == 100 && response.success){//dummy check
                             alert(response.fileName );
                              var elem = document.getElementById('log');
                              elem.scrollTop = elem.scrollHeight;

                              log("Ok");
                          }
                          else
                          {
                              log("No file");
                          }

                      }, "json");*/



          }
      }

      }
      progress();
      //setTimeout( progress, 3000 );
      });
    </script>

  {% endblock %}