{% extends "SiteBandServiceBundle::layout.html.twig" %}

{% block body %}
    <h1>Image Grabber.</h1>
    <h3>Программа для скачивания изображений по ссылкам вида:</h3>
    <div class="well">http://anf.scene7.com/is/image/anf/anf_40255_01_prod1?$anfProductImageMagnify$</div>
    {{ include('SiteBandServiceBundle:ImageGrabber/Form:igform.html.twig') }}


{% endblock %}