{# default Sliding pagination control implementation #}
{% if pageCount > 1 %}
        {% if previous is defined %}
            <button class="prev active"></button>
        {% else %}
            <button class="prev disabled"></button>
        {% endif %}

        {% if next is defined %}
            <button class="next active"></button>
        {% else %}
            <button class="next disabled"></button>
        {% endif %}
{% endif %}
