{% extends "SiteBandWitnessBundle::layout.html.twig" %}

{% block body %}
    <h1>Hello {{ app.user ? app.user.username : 'Anonymous' }}!</h1>
    {{ event.title }} <br />
    {{ event.address }} <br />
{% endblock %}
