{% extends "SiteBandWitnessBundle::layout.html.twig" %}
{% block title %}Поиск свидетелей / Последние события / Тестимон - поиск свидетелей{% endblock %}
{% block body %}
    <div class="landing red">

        <h1>{{ 'landing.title'|trans() }}</h1>

        <p class="intro">{{ 'landing.intro'|trans() }}</p>

        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">

                    <h3>{{ 'landing.iam'|trans() }}</h3>

                    <p>{{ 'landing.iam-desc'|trans()|raw }}</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <h3>{{ 'landing.search'|trans() }}</h3>

                    <p>{{ 'landing.search-desc'|trans()|raw }}</p>
                </div>
                <p class="three-words">{{ 'landing.three-words'|trans()|raw }}</p>
            </div>
        </div>


    </div>
    <div class="startsearch"><a href="#start" class="btn btn-primary big noround">{{ 'landing.start-search'|trans()|raw }}</a></div>
    <div class="landing grey">
    <div class="container">

        <div class="row">
            <div class="col-lg-12"> <h3>{{ 'landing.who-it-work'|trans() }}</h3></div>

        <div class="col-sm-4 col-md-4 col-lg-4">
                    <h4>{{ 'landing.list.in-your-area'|trans() }}</h4>
                    <a href="#start"><img  class="img-circle" alt="210x210" style="width: 210px; height: 210px;" src="/images/landing/search.png"/></a>
                    <p>{{ 'landing.list.in-your-area-text'|trans() }}</p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
                    <h4>{{ 'landing.list.add-event'|trans() }}</h4>
                    <a href="#start"><img  class="img-circle" alt="140x140" style="width: 210px; height: 210px;" src="/images/landing/map.png"/></a>
                    <p>{{ 'landing.list.add-event-desc'|trans() }}</p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
                    <h4>{{ 'landing.list.tel-friends'|trans() }}</h4>
                    <a href="#start"><img  class="img-circle" alt="140x140" style="width: 210px; height: 210px;" src="/images/landing/social.png"/></a>
                    <p>{{ 'landing.list.tel-friends-desc'|trans() }}</p>
        </div>

        </div>
       </div>
        </div>


    <div class="middler">
        <h2 id="start">Найдите события</h2>
        {{ render(controller("SiteBandWitnessBundle:Events:searchForm")) }}
    </div>

    <div class="row">
     <div class="toper">
    <div class="col-md-6">
        <section>
            <div id="last-added-events" class="event-list-container shadow2 ">
                <h2>Последние добавленные события</h2>
                <noscript>
                    <a href="{{ path('site_band_witness_events_last') }}">Последние события</a>
                </noscript>
                <div class="event-list-data"></div>
                <div class="event-list-controls ">
                    <button class="prev disabled"><span class="prev"></span></button>
                    <button class="next active"><span class="next"></span></button>
                </div>
                <br class="clear-fix"/>

                <div class="loader">
                    <div class="loadergif"></div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-6 ">
        <section>
            <div id="last-by-date-events" class="event-list-container shadow2 ">
                <h2>Последние по дате события</h2>

                <div class="event-list-data"></div>
                <div class="event-list-controls ">
                    <button class="prev disabled"><span class="prev"></span></button>
                    <button class="next active"><span class="next"></span></button>
                </div>
                <br class="clear-fix"/>

                <div class="loader">
                    <div class="loadergif"></div>
                </div>
            </div>
        </section>
    </div>
    </div>
    </div>

    <br class="clearfix"/>


{% endblock %}

{% block pagestylesheets %}
    <link rel="stylesheet" href="{{ asset('/bundles/witness/js/libs/kladr/jquery.kladr.min.css')}}" type="text/css" />
{% endblock %}

{% block pagejavascripts %}



    <script type="text/javascript">
        require(['event/show','event/list-events'], function(Show,ListEvents){
            Show.init();
            var ListEventsAdded = new ListEvents($('#last-added-events'));
            var ListEventsDate = new ListEvents($('#last-by-date-events'));
        })
    </script>


{% endblock %}
