{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Восстановление пароля / Тестимон - поиск свидетелей{% endblock %}
{% block fos_user_content %}
{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
{% endblock fos_user_content %}
