{% extends "FOSUserBundle::layout-profile.html.twig" %}
{% block title %}Смена пароля / Тестимон - поиск свидетелей{% endblock %}
{% block fos_user_content %}
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
