<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" role="form" class="form-small fos_user_change_password">
    {% form_theme form 'SiteBandUserBundle:Form:fields.html.twig' %}
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-default" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
