{%   for event in events %}
    <div class="item">
        <p class="title"><a href="{{ path('site_band_witness_event_get',{ id :  event.id }) }}">{{ event.title }}</a> <span class="small">{{ event.date| localizeddate('full', 'none', app.request.locale ) }}</span></p>
        <p><span class="glyphicon glyphicon-map-marker"></span>{{ event.address }}</p>
        <p class="text">{{ event.description|striptags('<a>')|raw|nl2br }}</p>
        <p class="pull-right"><span class="small">{{ event.updated| localizeddate('full', 'none', app.request.locale ) }}</span> {{  event.user.username }} </p>
        <div class="clearfix"></div>
    </div>
{% endfor %}