<div id="map-container">
<div id="map" class="map img-thumbnail"></div>
<div class="loader"><div class="loadergif"></div></div>
</div>
<div id="events-content"  class="events-content hidden">
    <h3>{{ 'Selected event'|trans() }}</h3> 
    <div id="event-detail"></div>
</div>
