<div class="row">
    <div class="col-md-4">{{ include('SiteBandWitnessBundle:Events:_search-event-form.html.twig') }}</div>
    <div class="col-md-8">{{ include('SiteBandWitnessBundle:Events:_map.html.twig') }}</div>
</div>