{% block pagestylesheets %}
    {% stylesheets '@SiteBandWitnessBundle/Resources/public/js/kladr/jquery.kladr.min.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block pagejavascripts %}
    <script src="//api-maps.yandex.ru/2.1-dev/?load=package.full&lang=ru-RU" type="text/javascript"></script>
    {% javascripts '@SiteBandWitnessBundle/Resources/public/js/ymap.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@SiteBandWitnessBundle/Resources/public/js/kladr/jquery.kladr.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $( document ).ready(
                function(){

                    $('#date').createDatePicker(false);
                    // ymaps.ready(init);
                    ymaps.ready(function(){
                        var clusterer = 0,
                                result = 0,
                                cityObj = $('#city'),
                                addressObj = $('#address'),
                                dateObj = $('#date'),
                                myPlacemark;

                        var myMap = mapHelper.mapInit();
                        mapHelper.setCity(myMap, cityObj,addressObj);
                        // jsHelper.kladrOn(cityObj,addressObj);
                        myMap.events.add('boundschange', function () {
                            if (result){mapHelper.setMenuByMapWisibleObjects(myMap,result);}
                        });

                       /* $("#eventForm").submit(function(event) {
                            event.preventDefault();
                            alert(event.relatedTarget);
                            if (event.relatedTarget.id == "searchEvent"){
                                //setCenterByAddress(createAddress($('#country').val(),$('#city').val(),$('#address').val()));
                                var address = jsHelper.createAddress($('#country').val(),cityObj.val(),addressObj.val());
                                mapHelper.setCenterByAddress(myMap,address,{setCoordsToFormElement : true, formElement: $('#addressCenter')});
                                var date = dateObj.val();
                                //showEventsOnMap(date);
                                mapHelper.showEventMenuContainer();
                                mapHelper.setMenuIfNoObjects();
                                mapHelper.showEventsOnMap(myMap,clusterer,date,function(newClusterer, newResult){


                                    clusterer = newClusterer;
                                    result = newResult;
                                });
                                showAddEventButton();
                                event.preventDefault();
                            }
                        });*/
                        $("#searchEvent").click(function(event) {
                                //setCenterByAddress(createAddress($('#country').val(),$('#city').val(),$('#address').val()));
                                var address = jsHelper.createAddress($('#country').val(),cityObj.val(),addressObj.val());
                                mapHelper.setCenterByAddress(myMap,address,{setCoordsToFormElement : true, formElement: $('#addressCenter')});
                                var date = dateObj.val();
                                //showEventsOnMap(date);
                                mapHelper.showEventMenuContainer();
                                mapHelper.setMenuIfNoObjects();
                                mapHelper.showEventsOnMap(myMap,clusterer,date,function(newClusterer, newResult){


                                    clusterer = newClusterer;
                                    result = newResult;
                                });
                                showAddEventButton();


                        });


                        function showAddEventButton()
                        {
                            var addEventButton = $('<input type="submit" value="Добавить событие"/>');
                            addEventButton.addClass('btn btn-danger');
                            $(".ev-actions").html(addEventButton);
                        }

                    })
                    $('#city').createAutoComplete('site_band_witness_city_json');
                    var json;


                })



    </script>
{% endblock %}