<form role="form" id="eventForm" method="get" action="{{ path('site_band_witness_event_add') }}">
<div class="form-group">
    <label for="date">{{ 'Date'|trans() }}</label>
    <input type="text"  class="form-control datepicker" value="{{  dateNow }}"  data-date-format="dd/mm/yyyy" id="date" name="date"/>

    <div class="eventby">{{ 'Events by'|trans() }}
        <div class="btn-group btn-group-sm" data-toggle="buttons">
            <label class="btn btn-default active">
                <input type="radio" name="eventby" value="week" id="week" checked>{{ 'checkbox.weekday.week'|trans() }}
            </label>
            <label class="btn btn-default">
                <input type="radio" name="eventby" value="day" id="day">{{ 'checkbox.weekday.day'|trans() }}
            </label>
        </div> <span class="eventfromto"></span>
    </div>

</div>



<div class="form-group hidden">
    <label for="country">{{ 'Country'|trans() }}</label>
    <!--<input name="country" id="country" class="form-control" type="text" value="Россия">-->
    <select name="country" id="country" class="form-control country" >
        {% for country in counties %}
            <option  value="{{ country.name }}" >{{ country.name }}</option>

        {% endfor %}
    </select>

</div>
<div class="form-group">
    <label for="city">{{ 'City'|trans() }}</label>
    <input name="city" id="city" class="form-control city" type="text" value="">
</div>

<div class="form-group noborder">
    <label for="address">{{ 'Address'|trans() }}</label>
    <div class="input-group">
        <input name="address" id="address" class="form-control address" type="text" value="">
            <span class="input-group-btn">
                 <button class="btn btn-default" name="searchEvent" id="searchEvent" type="button" data-type="update">{{ 'Search'|trans() }}</button>
            </span>
    </div>
</div>


<input type="hidden" name="addressCenter" id="addressCenter" class="coords">


<div id="ev-menu-container">
    <h3>{{ 'Events on map'|trans() }}</h3>
    <div class="ev-menu"></div>
    <div class="ev-actions"><input type="submit" value="Добавить событие" title="Добавить событие" class="btn btn-primary hidden"/></div>
</div>
</form>