{% extends "SiteBandWitnessBundle::layout.html.twig" %}
{% form_theme form 'SiteBandWitnessBundle:Form:vertical-fields.html.twig'  %}

{% block title %}Добавление события / Тестимон - поиск свидетелей{% endblock %}

{% block left %}

{% endblock %}

{% block body %}
    <div class="adder">
        <div class="row">

            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1>Добавление события</h1>
                {% if app.user == false %}
                    <div class="alert alert-danger">{{ 'alert.nologin'|trans()|raw }}</div>
                {% endif %}

                <form action="{{ path('site_band_witness_event_add') }}" {{ form_enctype(form) }} id="event_add"
                      method="POST" class="">
                    {{ form_errors(form) }}
                    {{ form_widget(form._token) }}
                    <div id="step-1" class="form-group shadow2">
                        {{ form_row(form.date) }}


                        <button  type="button" href="#step-2" class="next btn btn-success">{{ 'Next'|trans() }} <span class="glyphicon glyphicon-chevron-down" ></span></button>
                    </div>
                    <div id="step-2" class="step horizontal shadow2">
                        <div class="form-group">
                            {{ form_row(form.country) }}
                            {{ form_row(form.city) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.address) }}


                        </div>
                        <a  href="#step-3" data-type="update" class="next btn btn-success">{{ 'Next'|trans() }} <span class="glyphicon glyphicon-chevron-down"></span></a>
                    </div>
                    <div id="step-3" class="step form-group shadow2">
                            <p>{{ form_widget(form.update) }}</p>
                            {{ include('SiteBandWitnessBundle:Events:_map.html.twig') }}
                            {{ form_row(form.coords) }}
                        <p>
                            <div id="chkperr" class="alert alert-danger hidden"></div>
                            <a  href="#step-4" class="btn btn-success checkpoint">{{ 'Next'|trans() }} <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
                        </p>
                    </div>

                    <div id="step-4" class="step form-group shadow2">
                        {{ form_row(form.title) }}

                        <a  href="#step-5" class="next btn btn-success">{{ 'Next'|trans() }} <span class="glyphicon glyphicon-chevron-down"></span></a>
                    </div>

                    <div id="step-5" class="step form-group shadow2">
                        {{  form_row(form.description) }}

                        <a  href="#step-7" class="next btn btn-success">{{ 'Next'|trans() }} <span class="glyphicon glyphicon-chevron-down"></span><span class="glyphicon glyphicon-chevron-down"></span></a> <a  href="#step-6" class="next btn btn-success">{{ 'I am witness'|trans() }} <span class="glyphicon glyphicon-chevron-down"></span></a>
                    </div>
                    {{  form_row(form.embed) }}

                    <div id="step-6" class="step form-group shadow2">
                        {{  form_row(form.comments) }}

                        <a  href="#step-7" class="next btn btn-success"><span class="glyphicon glyphicon-chevron-down"></span>{{ 'Next'|trans() }}</a>
                    </div>

                    <div id="step-7" class="step form-group shadow2">
                        <p class="help-block">Все готово для сохранения данных.</p>
                        {{  form_row(form.save) }}
                    </div>



                </form>

                <div class="attach">Прикрепить: <button id="add_img_btn" class="btn" title="{{ "btn.add-image"|trans() }}"><span id="photo-upload"
                                                                                                 class="glyphicon glyphicon-camera"></span>
                </button></div>
                <div id="image-container" class="form-small hidden">
                    <div class="alert alert-danger hidden"></div>
                    {{ render(controller('SiteBandYandexAPIBundle:Default:upload')) }}
                </div>

                <div id="ev-menu-container" class="hidden">
                    <h2>{{ 'Events on map'|trans() }}</h2>

                    <div class="ev-menu"></div>
                </div>
            </div>
            <div class="col-md-3"></div>



        </div>
    </div>
{% endblock %}

 {% block pagestylesheets %}
     <link rel="stylesheet" href="{{ asset('/bundles/witness/js/libs/kladr/jquery.kladr.min.css')}}" type="text/css" />
     <link rel="stylesheet" href="{{ asset('/bundles/witness/js/libs/typeahead/typeahead.css')}}" type="text/css" />
 {% endblock %}

{% block pagejavascripts %}
    <script type="text/javascript">
        require(['event/add'], function(AddEvent){
            var options = { app_user : '{{ app.user == false }}'
                            ,is_form_submitted : '{{ isFormSubmitted }}'
            };

            addEvent = new AddEvent(options);
        });

    </script>
{% endblock %}