{% extends "SiteBandWitnessBundle::layout.html.twig" %}

{% block title %}{{ event.title }} {{ event.date| localizeddate('short', 'none', app.request.locale ) }} на {{ event.address }} / Тестимон - поиск свидетелей{% endblock %}
{% block meta_d %}{{ event.description[:255] }}{% endblock %}
{% block meta_ogd %}{{ event.description[:255] }}{% endblock %}
{% block meta_k %}Поиск свидетелей,{{ event.title }},{{ event.address }}{% endblock %}
{% block body %}

    <div class="row">

        <div class="col-md-4">
            <article>
                <h1>{{ event.title }}</h1>
                <p>{{ event.date| localizeddate('full', 'none', app.request.locale ) }}</p>
                <p><span class="glyphicon glyphicon-map-marker"></span>{{ event.address }}</p>
                <p>{{ event.description|striptags('<a>')|raw|nl2br }}</p>
                <p class="pull-right">{{ event.updated| localizeddate('full', 'none', app.request.locale ) }} {{ event.user.username }} </p>
                <br class="clearfix"/>

                <div id="addthis_cont" {%if new  %}class="addthis_cont">
                <h4>{{ "social.share"|trans() }}</h4>
                    {% else %}
                    >
                {% endif %}
                <div class="addthis_sharing_toolbox" ></div>
                </div>
            </article>
        </div>
        <div class="col-md-8">
    <div id="map" class="map img-thumbnail"></div>
    <p>{{ event.embed|striptags('<img>')|raw|nl2br }}</p>
    <h2>Комментарии</h2>
    {%   for comment in comments %}
    <p>{{ comment.text|striptags('<a><img>')|raw|nl2br }}</p>
    <p class="pull-right">{{ comment.updated| localizeddate('full', 'none', app.request.locale ) }} {{ comment.user.username }}</p>
    <br class="clear-fix" />
    {% endfor %}

    <div class="text-center"><a href="#commentContainer" id='addComment' class="btn btn-primary">Добавить комментарий</a></div>

    <div id="commentContainer" class="hidden">
    <button id="add_img_btn" class="btn" title="{{ "btn.add-image"|trans() }}"><span id="photo-upload" class="glyphicon glyphicon-camera"></span></button>
        <div id="image-container" class="form-small hidden">
            <div class="alert alert-danger hidden"></div>
            {{ render(controller('SiteBandYandexAPIBundle:Default:upload')) }}
        </div>
    <div id="commentFormContainer" >
     {{ render(controller("SiteBandWitnessBundle:Comment:add", {'eventId' : event.id })) }}
    </div>


    </div>

    <br />


        </div>


    </div>
{% endblock %}

 {% block pagestylesheets %}

 {% endblock %}

{% block pagejavascripts %}
    <script type="text/javascript">
        require(['event/get'], function(GetEvent){
            var options = { app_user : '{{ app.user == false }}',
                coords: [{{ event.coords }}],
                event_title: '{{ event.title }}',
                event_description : {{ event.description|striptags()|json_encode()|raw }}
            };

            getEvent = new GetEvent(options);

        });

    </script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4d90a995790ac595"></script>
{% endblock %}