{% extends "SiteBandWitnessBundle::layout-test.html.twig" %}

{% block left %}
    left
{% endblock %}


{% block body %}
    <div id="map" class="map img-thumbnail"></div>
    {%if app.user == false  %}
    {{ include('SiteBandWitnessBundle:Security:loginAndRegister-modal.html.twig') }}

{% endif %}
    <a href="{{ path('site_band_witness_test') }}">Test</a>
{% endblock %}

{% block pagestylesheets %}

{% endblock %}

{% block pagejavascripts %}

    <script type="text/javascript">
        require(['event/intest'], function(Test){
            Test.init();
        });
            /*    $( document ).ready(

                        function(){
                            Security.setSecPath('{{ path("fos_user_security_check") }}');
                            Security.setRegPath('{{ path("fos_user_registration_register") }}');
                            Security.init({backdrop : true});
                            $(window).trigger('showLoginForm');
                        }
                );*/

        </script>
{% endblock %}