{% extends "SiteBandWitnessBundle::layout.html.twig" %}
{% block title %}Последние события / Тестимон - поиск свидетелей{% endblock %}
{% block body %}
<h1>Последние события</h1>
{{ include ('SiteBandWitnessBundle:Events:_events_list.html.twig',
{'events' : events}
)
}}
    <div class="navigation">
        {{ knp_pagination_render(events) }}
    </div>
{% endblock %}