{% extends "SiteBandWitnessBundle::layout.html.twig" %}
{% block title %}{{ title }} / Тестимон - поиск свидетелей{% endblock %}

{% block body %}
<div class="middler">
    <h1>{{ title }}</h1>
    {{ render(controller("SiteBandWitnessBundle:Events:searchForm")) }}
</div>
{% endblock %}

{% block pagestylesheets %}
    <link rel="stylesheet" href="{{ asset('/bundles/witness/js/libs/kladr/jquery.kladr.min.css')}}" type="text/css" />
{% endblock %}

{% block pagejavascripts %}

    <script type="text/javascript">
        require(['event/show'], function(Show){
            Show.init();
        })
    </script>
{% endblock %}
