{% extends "SiteBandWitnessBundle::layout.html.twig" %}

{% form_theme form 'SiteBandWitnessBundle:Form:fields.html.twig'  %}

{% block left %}

{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-md-4"><form action="{{ path('site_band_witness_test') }}" {{ form_enctype(form) }} id="event_add" method="POST" class="">
                {{ form_widget(form) }}
            </form>

            <div id="ev-menu-container" class="hidden">
                <h2>{{ 'Events on map'|trans() }}</h2>
                <div class="ev-menu"></div>
            </div>
        </div>
        <div class="col-md-8">
            {{ include('SiteBandWitnessBundle:Events:_map.html.twig') }}

            {%if app.user == false  %}
                {{ include('SiteBandWitnessBundle:Security:loginAndRegister-modal.html.twig') }}
            {% endif %}
        </div>


    </div>
{% endblock %}

 {% block pagestylesheets %}
     <link rel="stylesheet" href="{{ asset('/bundles/witness/js/libs/kladr/jquery.kladr.min.css')}}" type="text/css" />
 {% endblock %}

{% block pagejavascripts %}
    <script type="text/javascript">
        require(['event/test'], function(AddEvent){
            var options = { app_user : '{{ app.user == false }}'
            };

            addEvent = new AddEvent(options);
        });

    </script>
{% endblock %}