{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Вход / Тестимон - поиск свидетелей{% endblock %}
{% block fos_user_content %}
    <h1 class="title">{{ 'Login'|trans() }}</h1>
    {% if error %}
    <div class="alert alert-danger"><strong>Ошибка!</strong> {{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-small" role="form" >
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div class="form-group">
    <label for="username">{{ 'security.login.username_and_email'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" class="form-control {% if error %}has-error{% endif %}" value="{{ last_username }}" required="required" />
    </div>
    <div class="form-group">
    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" class="form-control {% if error %}has-error{% endif %}" required="required" />
    </div>
    <div class="form-group">
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" checked="checked" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
    </div>
    <input type="submit" id="_submit" class="btn btn-default" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
{% endblock fos_user_content %}
{% block reg_link_lg %}
<a href="{{ path('fos_user_registration_register') }}" class="btn btn-warning btn-lg">{{ 'Registration'|trans() }}</a>
{% endblock reg_link_lg %}