html,
body { height: 100%; }

body {
    display: table;
    width: 100%;
}

.page-row {
    display: table-row;
    height: 1px;
}

.page-row-expanded { height: 100%; }


.map{width: 100%;height: 400px;}

#map-container{position: relative;}
.loader
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -59px;
    margin-left: -123px;
    width: 247px;
    height: 117px;
    background:  #ffffff;
    border-radius: 8px;
    border: 1px solid #ACABAB;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    display: none;
}
.loadergif
{
    position: relative;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    position: relative;
    background: url("/images/gif-load.gif") no-repeat;
}
.ev-menu div
{
    margin-bottom: 10px;
}
.event-description
{
    display: none;
}

#event-detail .event-description
{
    display: block;
}
#event-detail button
{
    display: none;
}
.events-content h3
{
    border-bottom: 1px solid #666666;

}
.events-content{min-height: 400px; color: #000000;}
.ev-actions
{
    margin-top: 10px;
}
.registration-container{margin-top: 10px;}
.toper{}
.middler{margin: 0 20px;}
#ws_event ul.bg-danger{padding: 15px;}

#update{margin-top: 10px;}
#registeration-form{float: right;width: 48%;}
#login-form{float: left;width: 48%;}
.footer{ width: 100%;  background: url("/images/stripe_f.png"); border-top: 1px solid #E8E8E8; padding: 38px 0;  }
.row {margin: 0}
.footer .row {
    vertical-align: middle;}
.event-list-container{position: relative; margin: 10px 0px; min-height: 300px; border-radius: 5px; border: 1px solid #E7E7E7; background: #ffffff;}

.item{ border-top: 1px solid #E7E7E7;  padding: 5px 10px}
.event-list-container .item:hover{background: #e1ebed}

.event-list-controls{}
.event-list-controls span{
    width: 32px;
    height: 32px;
    border: 0;
    position: absolute;
    top: 50%;
    z-index: 50;
}
.event-list-container span.next{

}
.event-list-controls button{
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 8%;
    min-width: 38px;
    background: transparent;
    border: 0;

}
.event-list-controls button.next{
    left: auto;
    right: 0;
}
.event-list-controls button:hover{
    opacity: 0.8;
    background: #E6E6E6;
}
.event-list-controls button.disabled:hover{
    opacity: 1;
    background: transparent;
}
.event-list-controls button.next span{
    background: url("/images/sprites.png") 0 0;


}
.event-list-controls button.prev span{
    background: url("/images/sprites.png") -0 -32px;


}
.event-list-controls button.next.disabled span{
    background: url("/images/sprites.png") -32px 0;
    cursor: none;

}
.event-list-controls button.prev.disabled span{
    background: url("/images/sprites.png") -32px -32px;
    cursor: none;
}
.event-list-data, .event-list-container h2
{
    margin-left: 8%;
    margin-right: 8%;
}
.form-small{max-width: 400px;}
.clear-fix{clear: both;}

.navbar-header .logo {
    background: url("/images/logo-sm.png") 0 0 no-repeat;
    width: 177px;
    height: 32px;
    margin: 10px 30px 0 0;
}