{% block checkbox_widget -%}
<div class="onoffswitch">
   <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />

    <label class="onoffswitch-label" for="{{ id }}">
        <span class="onoffswitch-inner">
            <span class="onoffswitch-active"><span class="onoffswitch-switch">ON</span></span>
            <span class="onoffswitch-inactive"><span class="onoffswitch-switch">OFF</span></span>
        </span>
    </label>
</div>
{%- endblock checkbox_widget %}