{% block form_widget_simple %}

    {% set type = type|default('text') %}
    {% if type == 'date' %}
        {% spaceless %}
            <input type="text" {% spaceless %}id="{{ id }}" name="{{ full_name }}" {% endspaceless %} class="form-control" data-date-format="dd/mm/yyyy"  {% if value is not empty %} data-date="{{ value }}" value="{{ value }}" {% endif %}/>
        {% endspaceless %}


    {% else %}
        {% spaceless %}
            <input type="{{ type }}" {{ block('widget_attributes') }}  {% if value is not empty %}value="{{ value }}" {% endif %}/>
        {% endspaceless %}
    {% endif %}

{% endblock form_widget_simple %}


{% block form_row %}
    {% spaceless %}

            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            {% for attrname,attrvalue in attr %}
                {% if attrname == 'hint-message' %}
                    <span class="help-block">{{ attrvalue|trans()|raw() }}</span>{% endif %}
            {% endfor %}


    {% endspaceless %}
{% endblock form_row %}


{% block choice_widget_collapsed %}
    {% spaceless %}
        {% if required and empty_value is none and not empty_value_in_choices %}
            {% set required = false %}
        {% endif %}
        <select {{ block('widget_attributes') }} class="form-control" {% if multiple %} multiple="multiple"{% endif %}>
            {% if empty_value is not none %}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('choice_widget_options') }}
        </select>
    {% endspaceless %}
{% endblock choice_widget_collapsed %}


{% block textarea_widget %}
    {% spaceless %}
        <textarea {{ block('widget_attributes') }} class="form-control" >{{ value }}</textarea>
    {% endspaceless %}
{% endblock textarea_widget %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% set glyps = "" %}
        {% set hint = "" %}
        {%- for attrname, attrvalue in attr -%}
            {{- " " -}}
            {%- if attrname in ['glyps'] -%}
                {% set glyps = attrvalue %}
            {%- elseif attrname in ['hint-message'] -%}
                {% set hint = attrvalue %}

            {%- endif -%}
        {%- endfor -%}
        {% if glyps is empty %}
            <button  type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
        {% else %}
            <button  type="{{ type|default('button') }}" {{ block('button_attributes') }}><span class="{{ glyps }}"></span> {{ label|trans({}, translation_domain) }}</button>
        {% endif %}

        {% if hint is not empty %}
             <p class="help-block">{{ hint|trans()|raw() }}</p>
        {% endif %}
    {% endspaceless %}
{% endblock button_widget %}


{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}


                {% for error in errors %}
                <div class="alert alert-danger field-error">{{ error.message }}</div>
                {% endfor %}



        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}


{% block widget_attributes %}
    {% spaceless %}
        id="{{ id }}" name="{{ full_name }}"
        {%- if read_only %} readonly="readonly"{% endif -%}
        {%- if disabled %} disabled="disabled"{% endif -%}
        {%- if required %} required="required"{% endif -%}
        {%- if max_length %} maxlength="{{ max_length }}"{% endif -%}
        {%- if pattern %} pattern="{{ pattern }}"{% endif -%}
        {%- for attrname, attrvalue in attr -%}
            {{- " " -}}
            {%- if attrname in ['placeholder', 'title','data-hint'] -%}
                {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
            {%- elseif attrvalue is sameas(true) -%}
                {{- attrname }}="{{ attrname }}"
            {%- elseif attrvalue is not sameas(false) -%}
                {{- attrname }}="{{ attrvalue }}"
            {%- endif -%}
        {%- endfor -%}
    {% endspaceless %}
{% endblock widget_attributes %}


{# Labels #}

{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{%- for attrname, attrvalue in label_attr -%}
            {{- " " -}}
            {%- if attrname in ['placeholder', 'title','data-hint'] -%}
                {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
            {%- else -%}
                {{- attrname -}}="{{- attrvalue }}" {%- endif -%}{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
        {%- endif -%}
    {% endspaceless %}
{% endblock form_label %}