<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="navbar navbar-default " role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Навигация</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                {{ knp_menu_render('SiteBandServiceBundle:Builder:mainMenu',{'currentClass': 'active'}) }}
                <ul class="nav navbar-nav navbar-right">
                    {%if app.user  %}
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ app.user ? app.user.username : 'Anonymous' }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <a href="{{ path('_sb_logout') }}">{{ 'Logout'|trans() }}</a>
                        </ul>
                    {% else %}
                    <li><a href="{{ path("fos_user_security_login") }}">{{ 'Login'|trans() }}</a></li>
                    {% endif %}


                </ul>

            </div><!--/.nav-collapse -->
        </div>
    </div>


    <div class="row">

        <div class="col-md-4"></div>
        <div class="col-md-8">{% block body %}{% endblock %}</div>

        {% block javascripts %}{% endblock %}
    </div>
    </body>
</html>
