<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Тестимон - поиск свидетелей{% endblock %}</title>
    <META NAME="Description" CONTENT="{% block meta_d %}Тестимон - поиск свидетелей. Последние события{% endblock %}" />
    <meta name="keywords" content="{% block meta_k %}Поиск свидетелей{% endblock %}" />
    <meta property="og:description" content="{% block meta_ogd %}Поиск свидетелей{% endblock %}" />
    {% block stylesheets %}{% endblock %}
    {% block pagestylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic,latin' rel='stylesheet' type='text/css'>

</head>
<body>
<header class="page-row">
<div class="navbar navbar-default " role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Навигация</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="/" title="Тестимон - поиск свидетелей"></a>
        </div>
        <div class="navbar-collapse collapse">
        <nav>
            {{ knp_menu_render('SiteBandWitnessBundle:Builder:witnessMenu',{'currentClass': 'active'}) }}
            <ul class="nav navbar-nav navbar-right">
                <li><a id="feedback-link" class="dotted" href="javascript:void(0)">{{ 'feedback.hello'|trans() }}</a></li>
                {%if app.user  %}
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ app.user ? app.user.username : 'Anonymous' }} <b class="caret"></b></a>
                    <ul id="ddmenu1" class="dropdown-menu">
                        <li role="presentation"><a href="{{ path('fos_user_profile_show') }}">{{ 'Profile'|trans() }}</a></li>
                        <li role="presentation" class="divider"/>
                        <li role="presentation"><a href="{{ path('_sb_logout') }}">{{ 'Logout'|trans() }}</a></li>
                    </ul>
                {% else %}
                    <li><a id="login-link" class="login-link dotted" href="{{ path("fos_user_security_login") }}">{{ 'Login'|trans() }}</a></li>
                {% endif %}


            </ul>
        </nav>
        </div><!--/.nav-collapse -->
    </div>
</div>
</header>
<main class="page-row page-row-expanded">
<div class="row">

    <!--<div class="col-md-4">{% block left %}{% endblock %}</div>-->
    <div class="col-md-12">{% block body %}{% endblock %}</div>


</div>


{% block hidden  %}{% endblock %}
</main>
<footer class="page-row">
<div class="footer">
    <div class="row">
        <div class="col-md-4">&#169; 2014 - {{ "now"|date("Y")  }} Тестимон - сайт поиска свидетелей</div>
        <div class="col-md-8"><div class="pull-right">
                <div><!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter25819103 = new Ya.Metrika({id:25819103, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/25819103" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter --></div>
        </div>


        </div>
    </div>
</div>
</footer>

{% block javascripts %}{% endblock %}
{% block pagejavascripts %}{% endblock %}
</body>
</html>
