body {
    font-size: 14px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
.sf-reset h1.title {
    font-size: 45px;
    padding-bottom: 30px;
}
.sf-reset h2 {
    font-weight: bold;
    color: #FFFFFF;
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    background-color: #aacd4e;
    padding: 2px 4px;
    display: inline-block;
    text-transform: uppercase;
}
.sf-reset ul a,
.sf-reset ul a:hover {
    background: url(../images/blue-arrow.png) no-repeat right 6px;
    padding-right: 10px;
}
.sf-reset ul, ol {
    padding-left: 20px;
}
.sf-reset li {
    padding-bottom: 18px;
}
.sf-reset ol li {
    list-style-type: decimal;
}
.sf-reset ul li {
    list-style-type: none;
}
.sf-reset .symfony-blocks-install {
    overflow: hidden;
}
.sf-reset .symfony-install-continue {
    font-size: 0.95em;
    padding-left: 0;
}
.sf-reset .symfony-install-continue li {
    padding-bottom: 10px;
}
.sf-reset .ok {
    color: #fff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    background-color: #6d6;
    padding: 10px;
    margin-bottom: 20px;
}
.sf-reset .ko {
    background-color: #d66;
}
.version {
    text-align: right;
    font-size: 10px;
    margin-right: 20px;
}
.sf-reset a,
.sf-reset li a {
    color: #08C;
    text-decoration: none;
}
.sf-reset a:hover,
.sf-reset li a:hover {
    color: #08C;
    text-decoration: underline;
}
.sf-reset textarea {
    padding: 7px;
}
.step h1 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 26px;
}
.step p {
    line-height: 20px;
    padding-bottom: 20px;
}
.step .symfony-block-steps span {
    display: inline-block;
    padding: 2px 3px;
    font-size: 11px;
    line-height: 15px;
    color: #868686;
    font-weight: bold;
    text-transform: uppercase;
}
.step .symfony-block-steps span.selected {
    background-color: #aacd4e;
    color: #FFFFFF;
}
.step .symfony-form-row {
    padding-bottom: 40px;
}
.step .symfony-form-column {
    width: 430px;
    float: left;
}
.step .symfony-form-footer {
    padding-top: 20px;
    clear: both;
}
.step .symfony-form-field {
    height: 20px;
}
.step .symfony-form-row label {
    display: block;
    padding-bottom: 8px;
}
.step .symfony-form-field input[type=text],
.step .symfony-form-field input[type=password],
.step .symfony-form-field textarea,
.step .symfony-form-field select {
    font-size: 13px;
    color: #565656;
    width: 200px;
}
.step .symfony-form-field input[type=text],
.step .symfony-form-field input[type=password],
.step .symfony-form-field textarea {
    border: 1px solid #dadada;
    background: #FFFFFF url(../../../framework/images/input_bg.gif) repeat-x left top;
    width: 194px;
    padding: 5px 6px;
}
.step .symfony-form-errors ul {
    padding: 0;
}
.step .symfony-form-errors li {
    background: url(../images/notification.gif) no-repeat left 6px;
    font-size: 11px;
    line-height: 16px;
    color: #759e1a;
    padding: 10px 25px;
}
.step .symfony-configuration {
    margin: 10px 0;
    width: 100%;
    height: 240px;
}
