body {
    font-size: 14px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
.sf-reset h1.title {
    font-size: 45px;
    padding-bottom: 30px;
}
.sf-reset h2 {
    font-weight: bold;
    color: #FFFFFF;
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    background-color: #aacd4e;
    padding: 2px 4px;
    display: inline-block;
    text-transform: uppercase;
}
.sf-reset ul a,
.sf-reset ul a:hover {
    background: url(../images/blue-arrow.png) no-repeat right 6px;
    padding-right: 10px;
}
.sf-reset ul, ol {
    padding-left: 20px;
}
.sf-reset li {
    padding-bottom: 18px;
}
.sf-reset ol li {
    list-style-type: decimal;
}
.sf-reset ul li {
    list-style-type: none;
}
.sf-reset .symfony-blocks-install {
    overflow: hidden;
}
.sf-reset .symfony-install-continue {
    font-size: 0.95em;
    padding-left: 0;
}
.sf-reset .symfony-install-continue li {
    padding-bottom: 10px;
}
.sf-reset .ok {
    color: #fff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    background-color: #6d6;
    padding: 10px;
    margin-bottom: 20px;
}
.sf-reset .ko {
    background-color: #d66;
}
.version {
    text-align: right;
    font-size: 10px;
    margin-right: 20px;
}
.sf-reset a,
.sf-reset li a {
    color: #08C;
    text-decoration: none;
}
.sf-reset a:hover,
.sf-reset li a:hover {
    color: #08C;
    text-decoration: underline;
}
.sf-reset textarea {
    padding: 7px;
}
