{% form_theme form 'SiteBandFeedBackBundle:Form:fields.html.twig'  %}
<form action="{{ path('site_band_feedback_add') }}" {{ form_enctype(form) }} id="message_add" method="POST" class="">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
</form>

