h1 {color: red}
.form-small{max-width: 400px;}
.ig small {color: #666666;}
.ig input[type="text"]{width: 100px}
/* -progressbar***/
.ui-progressbar {
    position: relative;
}
.progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}
/* -progressbar***/
#log{
   height:400px; overflow: scroll;
}
.registration-container
{
    margin-top: 20px;
}