html,
body { height: 100%;  }

body {
    display: table;
    width: 100%;
    font-family:  'Open Sans', Arial, sans-serif;
}

.page-row {
    display: table-row;
    height: 1px;
}

.page-row-expanded { height: 100%; }


.map{width: 100%;height: 400px;}

#map-container{position: relative;}
.loader, .loader-visible
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -59px;
    margin-left: -123px;
    width: 247px;
    height: 117px;
    background:  #ffffff;
    border-radius: 8px;
    border: 1px solid #ACABAB;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    display: none;
}
.loader-visible
{
    display: block;
}
.loadergif
{
    position: relative;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    position: relative;
    background: url("/images/gif-load.gif") no-repeat;
}
.visible {
    display: block;
}
.ev-menu div
{
    margin-bottom: 10px;
}
.event-description
{
    display: none;
}

#event-detail .event-description
{
    display: block;
}
#event-detail button
{
    display: none;
}
.events-content h3
{
    border-bottom: 1px solid #666666;

}
.events-content{min-height: 400px;color:#333333;}
.ev-actions
{
    margin-top: 10px;
}
.ev-actions input{
    font-size: 22px;
}
.registration-container{margin-top: 10px;}
.toper{}

#ws_event ul.bg-danger{padding: 15px;}

#update{margin-top: 10px;}
#registeration-form{float: right;width: 48%;}
#login-form{float: left;width: 48%;}
.footer{ width: 100%;  background: url("/images/stripe_f.png"); border-top: 1px solid #E8E8E8; padding: 38px 0;  }
.row {margin: 0}
.footer .row {
    vertical-align: middle;}



.form-small{max-width: 400px;}
.clear-fix{clear: both;}

.navbar-header .logo {
    background: url("/images/logo-sm.png") 0 0 no-repeat;
    width: 177px;
    height: 32px;
    margin: 10px 30px 0 0;
}
p.hint{
    position: absolute;
    margin: -30px 0 0 300px;
    background: #333333;
    opacity: 0.8;
    filter: alpha(opacity=80);
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    display: none;
    z-index: 2;
    min-width: 300px;
}
p.hint img{
    border-radius: 8px;
    margin: 5px;
    opacity: 1;
    filter: alpha(opacity=100);
}
a.boxclose{
    float:right;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
    color: #fff;
    border-radius: 30px;
    background: #000000;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    line-height: 1px;
    padding: 11px 4px;

}
a.boxclose:hover{text-decoration: none;}

.boxclose:before {
    content: "×";
}
a.dotted{
    -moz-text-decoration-line: underline;
    -moz-text-decoration-style: dotted;
}

/* feedback */
#feedback-container
{
    min-width: 445px;
    min-height: 484px;
}
#feedback-container .modal-footer
{
    text-align: left;
}
#feedback-container .modal-body
{
    min-height: 484px;
}
#feedback-container button{
    padding: 4px 12px;
}
#feedback-container .captcha_reload
{
    display: block;
}
.feedback {
    margin-top: 55px;
    right: 300px;
    position: absolute;
    background: #fff;
    /*border: 1px solid #e9e9e9;*/
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    font-size: 12px;
    z-index: 100000;
    display: none;
}
.black, .black a {
    color: #000000;
}
.img-container
{
    margin-top: 10px;
}
.img-container img
{
    max-width: 100px;
}
.img-container button
{
    margin-left: 100px;
}
#image-container{
    background: #ffffff;
    padding: 10px 10px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    margin: 20px 0;
}
#image-container form, #commentFormContainer form {
    position: relative;
}
#image-container form.loading .loader, #commentFormContainer form.loading .loader{
    display: block !important;
}
#commentFormContainer form.loading input[type=submit]{
    display: none;
}
#commentForm textarea {
    min-height: 350px;
}
button.loading, input[type='submit'].loading{
    background-image: url("/images/gif-load.gif");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 40px;
}

/** theme one **/
#map-container{
    background: #262626;
    padding: 16px;
}
.middler{
    margin: 0px -15px;
    padding: 40px 20px;
    background: #5cb85c;
    min-height: 730px;
}
.middler h2, .middler h1{
   color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.middler form {
    background: #eab998;
    background: -moz-linear-gradient(top, #eab998 0%, #e8b18d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eab998), color-stop(100%,#e8b18d));
    background: -webkit-linear-gradient(top, #eab998 0%,#e8b18d 100%);
    background: -o-linear-gradient(top, #eab998 0%,#e8b18d 100%);
    background: -ms-linear-gradient(top, #eab998 0%,#e8b18d 100%);
    background: linear-gradient(to bottom, #eab998 0%,#e8b18d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab998', endColorstr='#e8b18d',GradientType=0 );
}
.middler form {
    box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    border-radius: 8px;
    padding-top: 16px;

}

.middler form .form-group
{
    border-bottom: 1px dotted #3d3d3d;
    padding: 0 16px 16px 16px;
    /*margin: 0 -16px;*/
}
.middler form  .noborder
{
    border: 0;
}


.middler .ev-menu-inner > div
{
    background: #FAEBCC;
    margin: 5px 0;
    border-radius: 4px;
    padding: 5px;
}
.middler form label {
    text-shadow: 0px 0px 1px rgba(250, 250, 250, 1);
    color: #140F0A;
}
.map h3{
    color: #000000;
}
.middler form .eventby
{
    margin-top: 5px;
}
#ev-menu-container
{
    background: #ce916a;
    border-top: 1px dotted #3d3d3d;
    padding: 0 16px 16px 16px;
    display: none;

}
#ev-menu-container h3{
    color: #000000;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.toper
{
    margin: 0 -20px;
    padding: 20px 20px;
}
.adder
{
    margin: 0px -15px 450px -15px;
    color: #F54A5D;
}
.adder .btn
{
    font-size: 20px;
}
.adder #kladr_autocomplete ul
{

}
.adder h1
{

    text-align: center;
}
.adder .horizontal{
    margin: 0 0 15px;
}
.adder .form-group.shadow2, .adder .horizontal.shadow2
{
    padding: 15px;
    border: 1px solid #E7E7E7;

}

.adder .form-group label, .adder .form-group input
{
    font-size: 25px;
}
.adder .form-group input
{
    padding: 8px;
    height: auto;
}
.adder .form-group input, .help-block{
    color: #000000;
}
.adder textarea{
    height: 8em;
}
div.attach{
    margin: 10px 0;
    background: #ffffff;
    padding: 5px 5px;
}
.events-content
{
    background: #FAEBCC;
    border-radius: 4px;
}
.events-content h3, .events-content > div {
    padding: 5px;
}
.landing {
    margin: 0 -20px;
    padding: 50px 20px 190px 20px;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.2);
    color: #070C14;
    text-align: center;
}
div.landing.red {
    background: #f54a5d;
}
div.landing.red .container
{
    margin-top: 20px;
}
.landing h1{

}
.landing.red a
{
    color: #f8eacd;
}
.three-words
{
    font-size: 26px;
}
.three-words b
{
    padding: 3px 10px ;
    color: #fff;
    background: #070C14;
}
.landing p.intro
{
    color: #f8eacd;
    font-size: 28px;
}
div.landing.grey{
    background: #ffffff;
    padding: 90px 20px;
}
div.landing.grey h3{
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    color: #AA425B;
}

div.landing.grey h4 {
    color: #666666;
    font-size: 23px;
}
div.landing.grey p {
    color: #999999;
    font-size: 19px;
}




div.startsearch{
    position: absolute;
    left: 50%;
    margin: -36px 0 0 0;
}
a.big{
    width: 402px;
    font-size: 49px;
    margin-left: -201px;
}
a.noround{
    border-radius: 0;
}

/* lst events */
.event-list-container{position: relative; margin: 10px 0px; min-height: 300px;

    background: #ffffff;}


.event-list-controls{}
.event-list-controls span{
    width: 32px;
    height: 32px;
    border: 0;
    position: absolute;
    top: 50%;
    z-index: 50;
}
.event-list-container span.next{

}
.event-list-controls button{
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 8%;
    min-width: 38px;
    background: transparent;
    border: 0;

}
.event-list-controls button.next{
    left: auto;
    right: 0;
}
.event-list-controls button:hover{
    opacity: 0.8;
    background: #E6E6E6;
}
.event-list-controls button.disabled:hover{
    opacity: 1;
    background: transparent;
}
.event-list-controls button.next span{
    background: url("/images/sprites.png") 0 0;


}
.event-list-controls button.prev span{
    background: url("/images/sprites.png") -0 -32px;


}
.event-list-controls button.next.disabled span{
    background: url("/images/sprites.png") -32px 0;
    cursor: none;

}
.event-list-controls button.prev.disabled span{
    background: url("/images/sprites.png") -32px -32px;
    cursor: none;
}
.event-list-data, .event-list-container h2
{
    margin-left: 8%;
    margin-right: 8%;

}
/* */
.footer{ width: 100%;  background: #262626; border-top: 1px solid #E8E8E8; padding: 38px 0; color: #eab998; }
/* border efects */
.event-list-data .item{

    /*box-shadow: rgba(225, 223, 226, 0.506) 2px 2px 1px 0px;*/
    margin: 0 0 16px 0;
    border-bottom: 1px solid rgba(225, 223, 226, 0.7);
}
.event-list-container .item{ border: 1px solid #E7E7E7;  padding: 5px 10px}
.event-list-container .item p.title a {font-size: 20px;}
.event-list-container .item p.text { font-size: 16px;}
.event-list-container .item:hover{background: #FAEBCC;}
/*.event-list-container .item:hover a{color: #F8EACD}*/

.event-list-container.shadow1 .item
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.event-list-container.shadow1 .item:before, .event-list-container.shadow1 .item:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.event-list-container.shadow1 .item:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}
.event-list-container.shadow2 .item, .adder .form-group.shadow2, .adder .horizontal.shadow2
{
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
/* login */
#loginModal .modal-content, #feedback-container .modal-content
{
    border: 0;
}
#loginModal label, #feedback-container label
{
    font-weight: 500;
}
#loginModal input[type="text"], #feedback-container input[type="text"]{
    color: #ec7372;
}
#loginModal input{
    border-radius: 0;

}
#loginModal form, #loginModal div.alert, #feedback-container form, #feedback-container div.alert
{
    margin-top: 13px;
}
#loginModal span.title, #feedback-container span.title
{
    font-size: 25px;
    padding: 3px 6px;
    background: #ffffff;
    color: #428BCA;
}
#loginModal .modal-header h4, #feedback-container .modal-header h4{
    font-size: 25px;
}
#loginModal .modal-header, #feedback-container .modal-header{
    background: #ec7372;
    color: #fff;
    border: 0;
}
#loginModal .modal-body, #feedback-container .modal-body
{
    background: #35495d;
    color: #fff;
}
#loginModal p{
    margin-top: 10px;
}
#loginModal p a{
    color: #ffffff;
    text-decoration: underline;
}
#loginModal p a:hover{
    text-decoration: none;
}
.modal-footer{
    margin: 0;
    background: #445463;
    border: 0;
}

div.addthis_cont
{
    padding: 20px;
    background: #f6e576;
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s; /* Firefox < 16 */
    -ms-animation: fadein 5s; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
    animation: fadein 5s;
    min-height: 77px;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*
.event-list-container .item .small{
    margin-left: 4px;
}*/
.glyphicon
{
    margin-right: 3px;
}
#why-need-register.modal-footer
{
    text-align: left;
    color: #ffffff;
    background: #607d8b;

}
#why-need-register h4 {
    font-size: 25px;
}
#why-need-register .dl-horizontal dd
{
    margin-left: 60px;
}
#why-need-register .dl-horizontal dt
{
    width: auto;
}

#why-need-register dl {
    color: #76e8a6;
    height: 32px;
    font-size: 24px;
}