{% extends 'SiteBandServiceBundle::layout.html.twig' %}

{% block body %}
    <div id="login-form">
    <h1 class="title">Login</h1>

    <p>
        Choose between two default users: <em>user/userpass</em> <small>(ROLE_USER)</small> or <em>admin/adminpass</em> <small>(ROLE_ADMIN)</small>
    </p>

    {% if error %}
        <div class="alert alert-danger"><strong>Ошибка!</strong> {{ error.message }}</div>
    {% endif %}

    <form action="{{ path("_security_check") }}" method="post" id="login" class="form-small" role="form">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="_username" class="form-control {% if error %}has-error{% endif %}" value="{{ last_username }}" />
        </div>

        <div class="form-group {% if error %}has-error{% endif %}">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control " name="_password" />
        </div>

        <button type="submit" class="btn btn-default">
            Вход
        </button>
    </form>
    </div>
{% endblock %}

{% set code = code(_self) %}
