{% extends "SiteBandServiceBundle::layout.html.twig" %}

{% block body %}
<h1>Hello {{ app.user ? app.user.username : 'Anonymous' }}!</h1>
    <a href="{{ path('sbs_ig_index') }}" class="btn btn-default">Image grabber</a>
{% endblock %}
