<div class="modal fade " id="loginModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Вход и регистрация</h4>
            </div>
            <div class="modal-body">
                <div id="login-form">
                    <span class="title">Вход</span>
                    <div class="alert alert-danger hidden"></div>
                    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-small" role="form" id="loginForm">
                        <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />
                        <div class="form-group">
                            <label for="username">Имя пользователя или email:</label>
                            <input type="text" id="username" name="_username" class="form-control " value="" required="required">
                        </div>
                        <div class="form-group">
                            <label for="password">Пароль:</label>
                            <input type="password" id="password" name="_password" class="form-control " required="required">
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" checked="checked">
                            <label for="remember_me">Запомнить меня</label>
                        </div>
                        <input type="submit" id="_submit" class="btn btn-primary" name="_submit" value="Войти">
                        <br />
                        <p><a href="{{ path('fos_user_resetting_request') }}" target="_blank">Забыли пароль?</a></p>
                    </form>


                </div>
                <div id="registeration-form">


                     <span class="title">Регистрация</span>

                    <div class="alert alert-danger hidden" id="registerAlert"></div>
                    <form action="{{ path('fos_user_registration_register') }}" method="POST" class="form-small" role="form" id="registerForm">
                        <div id="fos_user_registration_form">
                            <div class="form-group">
                                <label for="fos_user_registration_form_username" class="required">Имя пользователя:</label>
                                <input type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" pattern=".{2,}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="fos_user_registration_form_email" class="required">Электронная почта:</label>
                                <input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="fos_user_registration_form_plainPassword" class="required">Пароль:</label>
                                <input type="password" id="fos_user_registration_form_plainPassword" name="fos_user_registration_form[plainPassword]" required="required" class="form-control">
                            </div>
                            <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="{{ fos_csrf_provider.generateCsrfToken('registration') }}">
                        </div>
                        <div>
                            <input type="submit" class="btn btn-primary" id="_rSubmit" value="Регистрация">
                        </div>
                    </form>

                </div>
        <br class="clear-fix"/>

            </div>
            <div id="why-need-register" class="modal-footer">
                <h4>{{ 'registration.what-you-can-do'|trans() }}</h4>
                <dl class="dl-horizontal">
                    <dt><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></dt>
                    <dd>{{ 'registration.create-event'|trans() }}</dd>

                    <dt><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></dt>
                    <dd>{{ 'registration.get-notification'|trans() }}</dd>

                    <dt><span class="glyphicon glyphicon-share" aria-hidden="true"></span></dt>
                    <dd>{{ 'registration.share'|trans() }}</dd>
                </dl>
            </div>

        </div>
    </div>
</div>


