{% extends '::base.html.twig' %}

{% block stylesheets %}


            <link rel="stylesheet" href="{{ asset('/js/bootstrap/dist/css/bootstrap.css')}}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('/js/jquery-ui/themes/base/jquery-ui.css')}}" type="text/css" />


    {% stylesheets '@SiteBandServiceBundle/Resources/public/css/core.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/bootstrap/docs-assets/js/html5shiv.js"></script>
    <script src="/js/bootstrap/docs-assets/js/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{%  block javascripts %}
    <script src="{{asset('/js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{asset('/js/jquery-ui.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/js/bootstrap/dist/js/bootstrap.min.js')  }}" type="text/javascript"></script>

{% endblock %}

