<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-small" role="form" id="registerForm">
    {% form_theme form 'SiteBandUserBundle:Form:fields.html.twig' %}
    {{ form_widget(form) }}
    {{ form_rest(form) }}
    <div>
        <input type="submit" class="btn btn-default" id="_rSubmit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
