{% extends "FOSUserBundle::layout-for-loginAndRegister-modal.html.twig" %}

{% block fos_user_title %} {{ 'Registration'|trans() }}{% endblock %}

{% block fos_user_content %}
    <div class="alert alert-danger hidden" id="registerAlert"></div>
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}


{% block fos_user_buttons %}

{% endblock %}