{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Регистрация пользователя / Тестимон - поиск свидетелей{% endblock %}
{% block fos_user_content %}
    <h1 class="title">{{ 'Registration'|trans() }}</h1>
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
