{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Hello " ~ name %}

{% block content %}
    <h1>Hello {{ name }}!</h1>
    <a href="#" class="btn btn-default">Button</a>
{% endblock %}

{% set code = code(_self) %}
