{% extends "SiteBandWitnessBundle::layout-profile.html.twig" %}
{% block content %}
    {{ include ('SiteBandWitnessBundle:Events:_events_list.html.twig',
    {'events' : pagination}
    )
    }}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

 {% block pagestylesheets %}

 {% endblock %}

{% block pagejavascripts %}

{% endblock %}