{% extends "SiteBandWitnessBundle::layout-profile.html.twig" %}
{% form_theme collection with ['SiteBandWitnessBundle:Form:fields.html.twig', 'SiteBandWitnessBundle:Form:checkbox.html.twig']  %}
{% block content %}
    {% if success == true %}
        <div class="alert alert-success" role="alert">{{ "profiler.success"|trans() }}</div>
    {% endif %}
    {{ form_start(collection) }}
        {{ form_errors(collection) }}
        {% for setting in collection.settings %}
            {{ form_errors(setting) }}
            {{ ("profiler." ~ setting.vars.value.setting.name)|trans() }}
            {{ form_widget(setting) }}
            <br clear="all" />
        {% endfor %}
        <div>
            <input type="submit" class="btn btn-success"  value="Сохранить" />
        </div>
    {{ form_end(collection) }}

{% endblock %}


 {% block pagestylesheets %}
     <link rel="stylesheet" href="{{ asset('/bundles/witness/css/switch.css')}}" type="text/css" />
 {% endblock %}

{% block pagejavascripts %}

{% endblock %}