{% form_theme form 'SiteBandWitnessBundle:Form:fields.html.twig'  %}
<form action="{{ path('site_band_witness_comment_add') }}" {{ form_enctype(form) }} id="commentForm" method="POST" class="">
    <div class="alert alert-danger hidden"></div>
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-success" id="_rSubmit" value="Добавить" />
    </div>
    <div class="loader"><div class="loadergif"></div></div>
</form>

