{% block subject %}
    {% autoescape false %}
    Новый комментарий
    {% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
Добрый день {{ user.username }}!
К Вашему сообщению на сайте Тестимон добавлен комментарий.
Подробности по ссылке {{ link }}

---
С Уважение, команда сайта Тестимон, http://testimon.ru.
{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}