<form role="form" class="ig form-small" method="post" action="{{ path('sbs_ig_download') }}">
    <div class="form-group">
        <label for="startPos">Начать с: <small>anf_</small>55000<small>_01_prod1</small></label>
        <input type="text" class="form-control" id="startPos" name="startPos" placeholder="55000" value="{% if startPos is defined %}{{ startPos  }}{% endif %}">
    </div>
    <div class="form-group">
        <label for="endPos">Закончить на: <small>anf_</small>99999<small>_05_prod1</small></label>
        <input type="text" class="form-control" id="endPos" name="endPos" placeholder="99999" value="{% if endPos is defined %}{{ endPos  }}{% endif %}">
    </div>
    <div class="form-group">
        <label for="countTo">Посмотреть в каждой позиции c 1 по: <small>anf_99999_</small>05<small>_prod1</small></label>
        <input type="text" class="form-control" id="countTo" name="countTo" placeholder="5" value="{% if countTo is defined %}{{ countTo  }}{% endif %}">
    </div>
    <p><small>* - файлы находятся в папке <b>/Symfony/upload_images</b></small></p>
    <button type="submit" class="btn btn-default">Скачать</button>
</form>