{% extends '::witness_base.hml.twig' %}

{% block stylesheets %}


    <link rel="stylesheet" href="{{ asset('/js/bootstrap/dist/css/bootstrap.min.css')}}" type="text/css" />

    <link rel="stylesheet" href="{{ asset('/js/datepicker/css/datepicker.min.css')}}" type="text/css" />


    <link rel="stylesheet" href="{{ asset('/bundles/witness/css/core.css')}}" type="text/css" />






    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/bootstrap/docs-assets/js/html5shiv.js"></script>
    <script src="/js/bootstrap/docs-assets/js/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block hidden  %}
    {%if app.user == false  %}
        {{ include('SiteBandWitnessBundle:Security:loginAndRegister-modal.html.twig') }}
    {% endif %}
    <div id="feedback-container" class="feedback">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Обратная связь</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger hidden"></div>
                    <div class="form-content"> <div class="loader-visible"><div class="loadergif"></div></div></div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="form-close" ><span class="glyphicon glyphicon-remove"></span> Закрыть</button>
                </div>

           </div>

    </div>
{% endblock %}

{%  block javascripts %}


    <script
            data-main="{{ asset('/built-js/bundles/witness/js/main.js') | slice(0, -3) }}"
            src="{{asset('/js/require.js') }}">
    </script>
    <script>
        var options = { app_user : '{{ app.user == false }}'
        };
        require(["app"],
                function (App) {
                    this._app = new App(options);
                });
    </script>

   <!-- <link rel="stylesheet" href="{{ asset('/js/jquery-ui/themes/base/minified/jquery-ui.css')}}" type="text/css" />-->
{% endblock %}