{% extends 'SiteBandWitnessBundle::layout.html.twig' %}
{% block title %}Профиль пользователя / Тестимон - поиск свидетелей{% endblock %}
{% block body %}
    <div class="col-md-4">{{ knp_menu_render('SiteBandUserBundle:Builder:profileMenu',{'currentClass': 'active'}) }}</div>
    <div class="col-md-8">
            {% block content %}{% endblock %}
    </div>
{% endblock %}