
{% block body %}
   {% block fos_user_title %}{% endblock %}

                        {% block fos_user_content %}{% endblock %}

                    {% block fos_user_buttons %}{% endblock %}

{% endblock %}

{% set code = code(_self) %}