{% extends 'SiteBandWitnessBundle::layout.html.twig' %}

{% block body %}
<div class="col-md-4"></div>
<div class="col-md-8">
    <div id="login-form-big">

        {% block fos_user_content %}{% endblock %}


    </div>
    <div class="registration-container">
        {% block reg_link_lg %}{% endblock %}
    </div>
</div>

{% endblock %}


