
{% block body %}
    <div class="modal fade " id="loginModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{% block fos_user_title %}{% endblock %}</h4>
                </div>
                <div class="modal-body">
                    <div id="login-form">
                        {% block fos_user_content %}{% endblock %}
                    </div>

                </div>
                <div class="modal-footer">
                    {% block fos_user_buttons %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% set code = code(_self) %}
